<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
      <meta name="author" content="GDPR">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{% block title %}Anti Ragging{% endblock %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
       <style type="text/css"> 
        .asteriskField {
            display: none;
        }

        form .alert ul li {
            list-style: none;
        }

        form .alert ul {
            padding: 0;
            margin: 0;
        }

    </style>
</head>
<body>
<style>
  .option1 {
    display: inline-block;
    padding-right: 12px;
  }
  tr:hover td {
    background: #85c1e9 !important;
}
td > a {
  display: block;
}
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
  <div class="container">
      <a class="navbar-brand" href="#" style="padding-right: 800px">Anti Ragging</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {%if value%}
                      {{value}}
                      {%else%}
                      Admin
                      {% endif %}

                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="students">Students</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="addstudent">Add Student</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="loggedin">Complaints</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                  </div>
              </li>
          </ul>
      </div>
  </div>
</nav>
<div class="container">
  <h2 style="color: red"><u>Complaints</u></h2>         
  <table class="table table-hover">
    <thead>
      <tr>
        <th style="color: brown">Complaint Id</th>
        <th style="color: brown">Roll Number</th>
        <th style="color: brown">Level of Threat</th>
      </tr>
    </thead>
    <tbody>
      {% for i in val%}
      <tr>
        <td><a href="complaintdetails?roll={{i.roll}}&aid={{i.Aid}}&cid={{i.cid}}">{{i.cid}}</a></td>
        <td name="rollnumber123" id="rollnumber"><a href="complaintdetails?roll={{i.roll}}&aid={{i.Aid}}&cid={{i.cid}}">{{i.roll}}</a></td>
        <td><a href="complaintdetails?roll={{i.roll}}&aid={{i.Aid}}&cid={{i.cid}}" id="year" name="year">{{i.level_of_threat}}</a></td>
      </tr>
      {% endfor %}

  

    </tbody>
  </table>
</div>
</div>
</body>
</html>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>